# Entorno virtual
.venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos del sistema
.DS_Store

# Logs y archivos temporales
*.log

# Artefactos pesados o temporales de entrenamiento
artifacts/checkpoints/
artifacts/logs/

# Configuración local de editores
.vscode/

# Archivos de notebook temporales
.ipynb_checkpoints/

#otro
artifacts/model/
